/* https://m3.material.io/styles/color/roles */
@theme {
  /* Base colors */
  --color-primary: var(--color-teal-700); /* TODO: Teal (#00786f) vs Emerald (#007a55) */
  --color-on-primary: var(--color-white);
  --color-primary-container: var(--color-teal-100);
  --color-on-primary-container: var(--color-teal-900);

  --color-secondary: var(--color-slate-500);
  --color-on-secondary: var(--color-white);
  --color-secondary-container: var(--color-slate-200);
  --color-on-secondary-container: var(--color-slate-700);

  --color-tertiary: var(--color-sky-500);
  --color-on-tertiary: var(--color-white);
  --color-tertiary-container: var(--color-sky-100);
  --color-on-tertiary-container: var(--color-sky-900);

  /* Neutral colors */
  --color-surface: var(--color-zinc-50);
  --color-surface-inverse: var(--color-zinc-800);

  --color-surface-container-lowest: var(--color-white);
  --color-surface-container-low: var(--color-zinc-100);
  --color-surface-container: var(--color-zinc-200);
  --color-surface-container-high: var(--color-zinc-300);
  --color-surface-container-highest: var(--color-zinc-400);

  --color-on-surface: var(--color-zinc-900);
  --color-on-surface-variant: var(--color-zinc-700);
  --color-on-surface-muted: var(--color-zinc-500);
  --color-on-surface-inverse: var(--color-zinc-100);

  --color-outline: var(--color-zinc-300);
  --color-outline-variant: var(--color-zinc-200);

  /* Status colors */
  --color-error: var(--color-red-700);
  --color-on-error: var(--color-white);
  --color-error-container: var(--color-red-200);
  --color-on-error-container: var(--color-red-900);

  --color-success: var(--color-green-700);
  --color-on-success: var(--color-white);
  --color-success-container: var(--color-green-200);
  --color-on-success-container: var(--color-green-900);

  --color-warning: var(--color-yellow-600);
  --color-on-warning: var(--color-white);
  --color-warning-container: var(--color-yellow-200);
  --color-on-warning-container: var(--color-yellow-900);

  /* Border radius */
  --radius-border: var(--radius-md);

  /* Fonts */
  --font-logo: 'MontserratAlt1', sans-serif;
}

/* Dark theme overrides */
@layer theme {
  * {
    @variant dark {
      /* Base colors */
      --color-primary: var(--color-teal-600);
      --color-on-primary: var(--color-zinc-950);
      --color-primary-container: var(--color-teal-800);
      --color-on-primary-container: var(--color-teal-100);

      --color-secondary: var(--color-slate-500);
      --color-on-secondary: var(--color-zinc-950);
      --color-secondary-container: var(--color-slate-800);
      --color-on-secondary-container: var(--color-slate-100);

      --color-tertiary: var(--color-sky-500);
      --color-on-tertiary: var(--color-zinc-950);
      --color-tertiary-container: var(--color-sky-800);
      --color-on-tertiary-container: var(--color-sky-100);

      /* Neutral colors */
      --color-surface: var(--color-zinc-900);
      --color-surface-inverse: var(--color-zinc-200);

      --color-surface-container-lowest: var(--color-zinc-800);
      --color-surface-container-low: var(--color-zinc-700);
      --color-surface-container: var(--color-zinc-600);
      --color-surface-container-high: var(--color-zinc-500);
      --color-surface-container-highest: var(--color-zinc-400);

      --color-on-surface: var(--color-zinc-200);
      --color-on-surface-variant: var(--color-zinc-300);
      --color-on-surface-muted: var(--color-zinc-400);
      --color-on-surface-inverse: var(--color-zinc-900);

      --color-outline: var(--color-zinc-500);
      --color-outline-variant: var(--color-zinc-600);

      /* Status colors */
      --color-error: var(--color-red-400);
      --color-on-error: var(--color-red-950);
      --color-error-container: var(--color-red-800);
      --color-on-error-container: var(--color-red-100);

      --color-success: var(--color-green-400);
      --color-on-success: var(--color-green-950);
      --color-success-container: var(--color-green-800);
      --color-on-success-container: var(--color-green-100);
    }
  }
}
